<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>You choosed Python as a main streem</h1>
        <h1>For python we have two trainers 
            1.Santosh
            2.Harshad
        </h1>
        <h1>Your Class timenge starts at 10:30 AM Everyday</h1>
        <a href="{% url 'app1:friend1' %}"><h1>If you are not intrested to join here , Thank you for consulting us</h1></a>
    </center>
</body>
</html>